ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  .front-title{
    left: 0;
    right: 0;
    padding-bottom: 5%;
    color: #000000;
  }

  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  .appIcon{
    height: 57px;
    width: 57px;
    align-items: center;
  }
  ion-toolbar{
    text-align: center;
  }
  ion-content{
    background-color: #72706d!important;
  }
  .custom-card-override{
    background-color: #000000;
    border-radius: 5%;
  }
  .card-img-override{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
  }
  .card-text-override{
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  ion-card{
    border-radius: 5%;
}
.card-img-override{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
h1{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}