<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <img src="../assets/3d-glasses.svg" alt="icone pipoca e oculos 3d" class="appIcon">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Filmes em alta</h1>

  <ion-card class="custom-card-override" *ngFor="let item of (results | async)">
    <img class="card-img-override" [src]=" 'https://www.themoviedb.org/t/p/w500' + item.poster_path" *ngIf="item.poster_path != 'N/A'" />
      <ion-card-header>
        <ion-card-title>
          <div class="card-text-override">
            <table style="width: 100%;">
              <tr>
                <td style="text-align: center;"><b>{{ item.title }}</b></td>
                <td style="text-align: end;">
                  <ion-icon class="card-buttons-override"  name= {{heartFill(item.id)}} (click)= "onClick(item.title, item.poster_path, item.id)" expand="block" ></ion-icon>
                </td>
              </tr>
            </table>
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>  
   
  
</ion-content>
