ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.appIcon{
  height: 57px;
  width: 57px;
  margin-left: -10px;
}
ion-toolbar{
  text-align: center;
}
ion-content{
  background-color: #01FFFF!important;
}