

<ion-content>
  <ion-content>
    <ion-router-outlet>
      <ion-grid class="startApp">
        <ion-row class="ion-align-items-center ">
          <ion-col class=" ion-justify-content-center" size="12">
            <img src="../assets/3d-glasses.svg" alt="icone pipoca e oculos 3d" class="appIcon">
          </ion-col>
          <ion-col class="ion-justify-content-center" size="12">
            <h1>Projeto Dispositivos Móveis</h1>
          </ion-col>
          <ion-col class="ion-text-center" size="12">
            <ion-button [routerLink]="['/folder/Inbox']">Começar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-router-outlet>
  </ion-content>
</ion-content>
