<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <img src="../assets/3d-glasses.svg" alt="icone pipoca e oculos 3d" class="appIcon">
  </ion-toolbar>
</ion-header>


<ion-content>
  <h1>Creditos aos alunos  </h1>
    
  <ion-card class="custom-card-override">
    <img class="card-img-override" src="https://amigoedu-blog-uploads.s3.amazonaws.com/uploads/2020/06/Como-conseguir-uma-bolsa-de-estudo-na-Anhembi-Morumbi.png" />
    <ion-card-header>
      <ion-card-title>
        <div class="card-text-override">
          <table style="width: 100%;">
            <tr>
              <td style="text-align: center;"><b>Vídeo Explicando Aplicativo</b></td>
              
            </tr>
          </table>
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>  
  
<h2>Gustavo Corrado - 21223468</h2>
<h2>Roberto Tetsuo -21577183</h2>
<h2>Breno Luizetto - 21320729</h2>
<h2>Luana Brandão - 21209175</h2>
<h2>Rafael Naves - 21426073</h2>
<h2>Guilherme Pereira - 21064493</h2>
<h2>Gabriel Soares - 20877497</h2>


    
</ion-content>
